{% if data['user'] %}
    {% extends "login_base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block title %}个人小说网--热度统计{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<script type="text/javascript">
      function show_statistic() {
          let mychart = echarts.init(document.getElementById("novel_statistic_chart"));
          $.post("/admin/statistic/data", function(data) {
              let novel_names = new Array();
              let novel_read_nums = new Array();
              for(let i in data) {
                  novel_names.push(data[i].name);
                  novel_read_nums.push(data[i].read_num);
              }
              let option = {
                  tooltip: {
                      trigger: 'axis'
                  },
                  xAxis: {
                      type: 'category',
                      boundaryGap: true,
                      data: novel_names,
                      axisLabel: {
                          show: true,
                          rotate: 30
                      }
                  },
                  yAxis: {
                      type: 'value'
                  },
                  series: [{
                      data: novel_read_nums,
                      type: 'bar'
                  }]
              };
              mychart.setOption(option);
          });
      }

      function init_chart(div, category_id) {
          console.log(div);
          let mychart = echarts.init(div);
          $.post("/admin/statistic/data/" + category_id, function(data) {
              let novel_names = new Array();
              let novel_read_nums = new Array();
              for(let i in data) {
                  novel_names.push(data[i].name);
                  novel_read_nums.push(data[i].read_num);
              }
              let option = {
                  tooltip: {
                      trigger: 'axis'
                  },
                  xAxis: {
                      type: 'category',
                      boundaryGap: true,
                      data: novel_names,
                      axisLabel: {
                          show: true,
                          rotate: 30
                      }
                  },
                  yAxis: {
                      type: 'value'
                  },
                  series: [{
                      data: novel_read_nums,
                      type: 'bar'
                  }]
              };
              mychart.setOption(option);
          });
      }


      $(function() {
          show_statistic();
          let div_list = document.getElementsByName("chart_content");
          for(let i in div_list) {
              // console.log(div_list[i]);
              let category_id = $(div_list[i]).parent().attr("name");
              init_chart(div_list[i], category_id);
          }
      });

</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" style="height: 480px;">
                <div class="panel-heading">全部小说</div>
                <div class="panel-body" style="width: 100%; height: 400px;" id="novel_statistic_chart">
                </div>
            </div>
        </div>
    </div>
    {% for novel_type in data['type_list'] %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" style="height: 480px;" name="{{ novel_type.id }}">
                <div class="panel-heading">{{ novel_type.name }}</div>
                <div class="panel-body" style="width: 100%; height: 400px;" name="chart_content"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ super() }}
{% endblock %}