{% extends "login_base.html" %}
{% block title %}个人小说网--个人信息{% endblock %}
{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-md-12">
             &nbsp;&nbsp;
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
             <div class="panel panel-info">
                 <div class="panel-heading">个人信息</div>
                 <div class="panel-body"></div>
             </div>
         </div>
     </div>


 </div>
{{ super() }}
{% endblock %}