{% extends "bootstrap/base.html" %}
{% block styles %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" />
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript">
      function login() {
          var username = $("#index-modal-login-username");
          var password = $("#index-modal-login-password");
          var info = $("#index-modal-login-info");
          if(username.val() == '') {
              username.parent().addClass('has-error');
              return false;
          }
          if(password.val() == '') {
              password.parent().addClass('has-error');
              return false;
          }
          $.post('/user/login', {username: username.val(), password: password.val()}, function(data) {
              if (data == 'success') {
                  alert('登录成功！');
                  window.location.reload();
              } else {
                  info.text('用户名或密码错误，登录失败！');
                  info.css({color: 'red'});
                  return false;
              }
          });
          return true;
      }
      function register() {
          var user_name = $("#index-modal-regist-username");
          var password = $("#index-modal-regist-password");
          var repassword = $("#index-modal-regist-repassword");
          var email = $("#index-modal-regist-emal");

          var password_info = $("#index-modal-regist-password-info");
          var repassword_info = $("#index-modal-regist-repassword-info")
          var email_info = $("#index-modal-regist-email-info")
          if(user_name.val() == '' || password.val() == '' || repassword.val() == '' || email.val() == '') {
              email_info.text('不能有空信息！');
              email_info.css({'color': 'red'});
              return false;
          }
          if (password.val() != repassword.val()) {
              password.val('');
              repassword.val('');
              password.parent().addClass('has-error');
              repassword.parent().addClass('has-error');
              password_info.text('密码不一致');
              return false;
          }
          var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
          if (!reg.test(email.val())) {
              email.val('');
              email.parent().addClass('has-error');
              email_info.text('邮箱格式不正确!');
              flag = false;
          }
          $.post('/user/register', {user_name: user_name.val(), password: password.val(), email: email.val()}, function (data, status) {
              if (data == 'success') {
                  alert('注册成功！');
                  $("#index-modal-regist").modal("hide");
              } else {
                  alert('注册失败！');
              }
          });
          return true;
      }
  </script>
{% endblock %}
{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-default" style="height: 86px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="/static/img/brand.png" style="width: 201px;">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 20px;">
              <form class="navbar-form navbar-left" style="padding-left: 25%" action="/search" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="小说名称、作者" style="width: 300px" name="search_word" required="required">
                </div>
                <button type="submit" class="btn btn-info" style="width: 100px">搜索</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="javascript:void(0);" id="index-modal-user-login-button">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <strong>登录|注册</strong>
                  </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <ul class="nav nav-tabs nav-justified">
            {% if not data['type_id'] and data['index'] %}
                <li role="presentation" class="active"><a href="/">主页</a></li>
            {% else %}
                <li role="presentation"><a href="/">主页</a></li>
            {% endif %}
            {% for category in data['type_list'] %}
                {% if data['type_id'] and data['type_id'] == category.id %}
                    <li role="presentation"  class="active"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% else %}
                    <li role="presentation"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>

<!-- *************************   登录模态框    	****************************** -->
<div class="modal fade" id="index-modal-login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav nav-tabs">
		  <li role="presentation" class="active" id="index-modal-login-login"><a href="javascript: void(0);"><strong>登录</strong></a></li>
		  <li role="presentation" id="index-modal-login-regist"><a href="javascript:void(0);"><strong>注册</strong></a></li>
		</ul>
      </div>
      <div class="modal-body">
        <form>
        	  <div class="form-group index-modal">
			     <input type="text" class="form-control" id="index-modal-login-username" placeholder="用户名">
			  </div>
			  <div class="form-group index-modal">
			     <input type="password" class="form-control" id="index-modal-login-password" placeholder="密码">
                 <span id="index-modal-login-info" class="help-block"></span>
			  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" onclick="login();">登录</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- *************************   注册模态框    	****************************** -->
<div class="modal fade" id="index-modal-regist">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav nav-tabs">
		  <li role="presentation" class="active" id="index-modal-regist-login"><a href="javascript:void(0);"><strong>登录</strong></a></li>
		  <li role="presentation" id="index-modal-regist-regist"><a href="javascript:void(0);"><strong>注册</strong></a></li>
		</ul>
      </div>
      <div class="modal-body">
        <form>
        	  <div class="form-group index-modal">
			    <input type="text" class="form-control" id="index-modal-regist-username" placeholder="用户名">
			  </div>
			  <div class="form-group index-modal">
			    <input type="password" class="form-control" id="index-modal-regist-password" placeholder="密码">
			    <span id="index-modal-regist-password-info" class="help-block"></span>
              </div>
			  <div class="form-group index-modal">
			    <input type="password" class="form-control" id="index-modal-regist-repassword" placeholder="确认密码">
			    <span id="index-modal-regist-repassword-info" class="help-block"></span>
              </div>
			  <div class="form-group index-modal">
			    <input type="email" class="form-control" id="index-modal-regist-emal" placeholder="邮箱">
			    <span id="index-modal-regist-email-info" class="help-block"></span>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" onclick="register();">注册</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block content %}

<div class="footer">
    <footer class="navbar">
        <div class="container" style="text-align: center">
            Copyright My Website 2019. All Rights Reserved.
        </div>
    </footer>
</div>
{% endblock %}

{% macro pagination(current_page, total_page, base_url, page_radius=3) %}
<nav aria-label="Page navigation" style="text-align: center;">
    <ul class="pagination">
        <li><a href="{{ base_url }}/1">首页</a></li>
        <li>
            <a href="{{ base_url }}/{{ current_page - 1 if current_page > 1 else 1 }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if total_page < 2 * page_radius + 1 %}
            {% for page in range(1, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page <= page_radius %}
            {% for page in range(1, 2*page_radius+2) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page + page_radius >= total_page %}
            {% for page in range(total_page-2*page_radius, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for page in range(current_page-page_radius, current_page+page_radius+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif  %}
        <li>
            <a href="{{ base_url }}/{{ current_page + 1 if current_page < total_page else total_page if total_page else 1 }}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><a href="{{ base_url }}/{{ total_page if total_page else 1 }}">尾页</a></li>
    </ul>
</nav>
{% endmacro %}
<!--<nav aria-label="Page navigation" style="text-align: center;">-->
    <!--<ul class="pagination">-->
        <!--<li><a href="/category/{{ data['type_id'] }}/1">首页</a></li>-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] - 1 if data['current_page'] > 1 else 1 }}"-->
               <!--aria-label="Previous">-->
                <!--<span aria-hidden="true">&laquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--{% for page in data['page_label_num'] %}-->
            <!--{% if page == data['current_page'] %}-->
            <!--<li class="active"><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% else %}-->
            <!--<li><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] + 1 if data['current_page'] < data['page_num'] else data['page_num'] }}"-->
               <!--aria-label="Next">-->
                <!--<span aria-hidden="true">&raquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li><a href="/category/{{ data['type_id'] }}/{{ data['page_num'] }}">尾页</a></li>-->
    <!--</ul>-->
<!--</nav>-->