{% if data['user'] %}
    {% extends "login_base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block title %}小说阅读网站--页面不存在{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" style="height: 400px;">
                <div class="panel-body">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 style="text-align: center;">很抱歉，您要访问的页面不存在！</h1>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}