{% extends "bootstrap/base.html" %}
{% block styles %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" />
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}
{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-default" style="height: 86px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="/static/img/brand.png" style="width: 201px;">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 20px;">
                <form class="navbar-form navbar-left" style="padding-left: 25%" action="/search" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="小说名称、作者" style="width: 300px" name="search_word" required="required">
                  </div>
                  <button type="submit" class="btn btn-info" style="width: 100px">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" href="javascript: void(0);">
                            {{ data['user'].name }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">个人书架</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <ul class="nav nav-tabs nav-justified">
            {% if not data['type_id'] and data['index'] %}
                <li role="presentation" class="active"><a href="/">主页</a></li>
            {% else %}
                <li role="presentation"><a href="/">主页</a></li>
            {% endif %}
            {% for category in data['type_list'] %}
                {% if data['type_id'] and data['type_id'] == category.id %}
                    <li role="presentation"  class="active"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% else %}
                    <li role="presentation"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>

{% endblock %}

{% block content %}

<div class="footer">
    <footer class="navbar">
        <div class="container" style="text-align: center">
            Copyright My Website 2019. All Rights Reserved.
        </div>
    </footer>
</div>
{% endblock %}

{% macro pagination(current_page, total_page, base_url, page_radius=3) %}
<nav aria-label="Page navigation" style="text-align: center;">
    <ul class="pagination">
        <li><a href="{{ base_url }}/1">首页</a></li>
        <li>
            <a href="{{ base_url }}/{{ current_page - 1 if current_page > 1 else 1 }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if total_page < 2 * page_radius + 1 %}
            {% for page in range(1, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page <= page_radius %}
            {% for page in range(1, 2*page_radius+2) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page + page_radius >= total_page %}
            {% for page in range(total_page-2*page_radius, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for page in range(current_page-page_radius, current_page+page_radius+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif  %}
        <li>
            <a href="{{ base_url }}/{{ current_page + 1 if current_page < total_page else total_page if total_page else 1}}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><a href="{{ base_url }}/{{ total_page if total_page else 1}}">尾页</a></li>
    </ul>
</nav>
{% endmacro %}
<!--<nav aria-label="Page navigation" style="text-align: center;">-->
    <!--<ul class="pagination">-->
        <!--<li><a href="/category/{{ data['type_id'] }}/1">首页</a></li>-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] - 1 if data['current_page'] > 1 else 1 }}"-->
               <!--aria-label="Previous">-->
                <!--<span aria-hidden="true">&laquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--{% for page in data['page_label_num'] %}-->
            <!--{% if page == data['current_page'] %}-->
            <!--<li class="active"><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% else %}-->
            <!--<li><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] + 1 if data['current_page'] < data['page_num'] else data['page_num'] }}"-->
               <!--aria-label="Next">-->
                <!--<span aria-hidden="true">&raquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li><a href="/category/{{ data['type_id'] }}/{{ data['page_num'] }}">尾页</a></li>-->
    <!--</ul>-->
<!--</nav>-->