{% extends "bootstrap/base.html" %}
{% block styles %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" />
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  <script type="text/javascript">
      function logout() {
          $.post("/user/logout", function(data) {
              if (data == 'error') {
                  alert('出现错误，退出失败！');
              } else if (data == 'success') {
                  window.location.reload();
              }
          });
      }
      function show_user_info() {
          let user_info_modal = $("#user_info");
          user_info_modal.modal("show");
      }
      function show_password_modal() {
          $("#password_modal").modal("show");
      }
      function update_info(x) {
          let user_name = $("#user_name");
          let user_email = $("#user_email");
          let user_email_info = $("#user_email_info");
          let button = $(x);
          if (button.hasClass("btn-info")) {
              button.removeClass("btn-info");
              button.addClass("btn-success");
              button.text("确定修改");
              user_name.removeAttr("readonly");
              user_email.removeAttr("readonly");
              user_name.focus();
          } else {
              let reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
              if (user_name.val() == '') {
                  user_name.parent().addClass("has-error");
                  return false;
              }
              if (!reg.test(user_email.val())) {
                  user_email.parent().addClass("has-error");
                  user_email_info.text("邮箱格式不正确");
                  return false;
              }
              $.post("/user/update_info", {name: user_name.val(), email: user_email.val()}, function(data) {
                  if(data == 'error') {
                      alert('修改失败！');
                  } else if (data == 'success') {
                      alert('修改成功！');
                      window.location.reload();
                  }
              });
          }
          return true;
      }
      function update_password() {
          let old_password = $("#old_password");
          let new_password = $("#new_password");
          let new_repassword = $("#new_repassword");
          let password_modal_hr = $("#password_modal_hr");
          let old_password_info = $("#old_password_info");
          let new_password_info = $("#new_password_info");
          let new_repassword_info = $("#new_repassword_info");
          if (old_password.parent().css("display") == 'block'
          && new_password.parent().css("display") == 'none' && new_repassword.parent().css("display") == "none") {
              $.post("/user/password_validation", {password: old_password.val()}, function(data) {
                  if (data == "error") {
                      old_password.parent().addClass("has-error");
                      old_password_info.text("密码错误！");
                  } else if (data == 'success') {
                      old_password.parent().hide();
                      new_password.parent().show();
                      new_repassword.parent().show();
                  }
              });
              return true;
          } else {
              if (new_password.val() == '') {
                  new_password.parent().addClass("has-error");
                  new_password_info.text("密码不能为空！");
                  return false;
              }
              if (new_password.val() != new_repassword.val()) {
                  new_repassword.parent().addClass("has-error");
                  new_repassword_info.text("密码不一致！");
                  return false;
              }
              $.post("/user/update_password", {password: new_password.val()}, function(data) {
                  if (data == 'error') {
                      alert('密码修改失败！');
                  } else if (data == 'success') {
                      alert('密码修改成功！');
                  }
                  window.location.reload();
              });
          }
      }
  </script>
{% endblock %}
{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-default" style="height: 86px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="/static/img/brand.png" style="width: 230px;">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 20px;">
                <form class="navbar-form navbar-left" style="padding-left: 20%" action="/search" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="小说名称、作者" style="width: 300px"
                           name="search_word" required="required" autocomplete="off">
                  </div>
                  <button type="submit" class="btn btn-info" style="width: 100px">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" href="javascript: void(0);">
                            {{ data['user'].name }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% if data['user'].name | lower != 'admin' %}
                            <li><a href="javascript: void(0);" onclick="show_user_info();">个人信息</a></li>
                            <li><a href="javascript: void(0);" onclick="show_password_modal();">修改密码</a></li>
                            <li><a href="/user/collections">个人书架</a></li>
                            {% else %}
                            <li><a href="/admin/users">用户管理</a></li>
                            <li><a href="/admin/novels">小说管理</a></li>
                            <li><a href="/admin/statistic">热度统计</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript: void(0);" onclick="logout();">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <ul class="nav nav-tabs nav-justified">
            {% if not data['type_id'] and data['index'] %}
                <li role="presentation" class="active"><a href="/">主页</a></li>
            {% else %}
                <li role="presentation"><a href="/">主页</a></li>
            {% endif %}
            {% for category in data['type_list'] %}
                {% if data['type_id'] and data['type_id'] == category.id %}
                    <li role="presentation"  class="active"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% else %}
                    <li role="presentation"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="user_info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">个人信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_name">用户名</label>
                        <input type="text" id="user_name" class="form-control" readonly="readonly" value="{{ data['user'].name }}"
                               style="background-color: white;"/>
                    </div>
                    <div class="form-group">
                        <label for="user_name">邮箱</label>
                        <input type="text" id="user_email" class="form-control" readonly="readonly" value="{{ data['user'].email }}"
                               style="background-color: white;"/>
                        <span class="help-block" id="user_email_info"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" onclick="update_info(this);">开始修改</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="password_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="display: block;">
                        <label for="user_name">初始密码</label>
                        <input type="password" id="old_password" class="form-control"/>
                        <span class="help-block" id="old_password_info"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="user_name">新密码</label>
                        <input type="password" id="new_password" class="form-control"/>
                        <span class="help-block" id="new_password_info"></span>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="user_name">确认新密码</label>
                        <input type="password" id="new_repassword" class="form-control"/>
                        <span class="help-block" id="new_repassword_info"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" onclick="update_password();">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="footer">
    <footer class="navbar">
        <div class="container" style="text-align: center">
            Copyright My Website 2019. All Rights Reserved.
        </div>
    </footer>
</div>
{% endblock %}

{% macro pagination(current_page, total_page, base_url, page_radius=3) %}
<nav aria-label="Page navigation" style="text-align: center;">
    <ul class="pagination">
        <li><a href="{{ base_url }}/1">首页</a></li>
        <li>
            <a href="{{ base_url }}/{{ current_page - 1 if current_page > 1 else 1 }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% if total_page < 2 * page_radius + 1 %}
            {% for page in range(1, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page <= page_radius %}
            {% for page in range(1, 2*page_radius+2) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% elif current_page + page_radius >= total_page %}
            {% for page in range(total_page-2*page_radius, total_page+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for page in range(current_page-page_radius, current_page+page_radius+1) %}
                {% if page == current_page %}
                <li class="active"><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ base_url }}/{{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif  %}
        <li>
            <a href="{{ base_url }}/{{ current_page + 1 if current_page < total_page else total_page if total_page else 1}}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><a href="{{ base_url }}/{{ total_page if total_page else 1}}">尾页</a></li>
    </ul>
</nav>
{% endmacro %}
<!--<nav aria-label="Page navigation" style="text-align: center;">-->
    <!--<ul class="pagination">-->
        <!--<li><a href="/category/{{ data['type_id'] }}/1">首页</a></li>-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] - 1 if data['current_page'] > 1 else 1 }}"-->
               <!--aria-label="Previous">-->
                <!--<span aria-hidden="true">&laquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--{% for page in data['page_label_num'] %}-->
            <!--{% if page == data['current_page'] %}-->
            <!--<li class="active"><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% else %}-->
            <!--<li><a href="/category/{{ data['type_id'] }}/{{ page }}">{{ page }}</a></li>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--<li>-->
            <!--<a href="/category/{{ data['type_id'] }}/{{ data['current_page'] + 1 if data['current_page'] < data['page_num'] else data['page_num'] }}"-->
               <!--aria-label="Next">-->
                <!--<span aria-hidden="true">&raquo;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li><a href="/category/{{ data['type_id'] }}/{{ data['page_num'] }}">尾页</a></li>-->
    <!--</ul>-->
<!--</nav>-->